body {
  margin: 0;
  padding: 0;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.formdiv {
  padding: 50px;
  background-color: aqua;
  border-radius: 5px;
}

#survey-form {
  display: flex;
  flex-direction: column;
}

input {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  width: 25rem;
}

#title {
  text-align: center;
}
