body {
  margin: 0;
  padding: 0;
  /* background-image: url('https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg'); */
  background-size: cover;
  background-repeat: no-repeat;
  /* opacity: 50%; */
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* padding: 0 2rem; */
  /* background-color: blue; */
  /* opacity: 50%; */
}

.formdiv {
  padding: 50px;
  background-color: aqua;
  border-radius: 5px;
}

#survey-form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

input {
  padding: 10px;
  border-radius: 5px;
  outline: none;
  border: none;
  width: 25rem;
}

select {
  padding: 10px;
  outline: none;
  border: none;
  border-radius: 5px;
}

#title {
  text-align: center;
}

#radio{
  text-align: left;
}

/* @media (max-width: 600px) {
  input {
    width: 100%;
  }
} */
